.idea/
target/
client-builds/
client.yaml
server.yaml

# Ignore the ./config directory so that developers can put their config files
# there for server and client apps.
config

# Ignore compiled tool executables
build-clients
setversion
